body {
  background-color: black;
  font-family: arial;
  color: white;
}
h1 {
  color: grey;
  font-family: verdana;
  font-size: 25pt;
}
.maindiv {
  background-color: white;
  color: black;
  width: 550px;
  padding: 20px;
  border-radius: 20px;
  font-weight: bold;
}
.leftdiv {
  text-indent: 100px;
  line-height: 200%;
  display: inline-block;
}
.rightdiv {
  display: inline-block;
}
.rightdiv1 {
  text-indent: 50px;
}
.rightdiv2 {
  text-indent: 18px;
}
.highlight {
  background-color: yellow;
}
footer {
  text-align: left;
  padding: 10px;
}
.output {
  text-indent: 100px;
  display: inline-block;
}
